body {
    margin: 0;
    padding: 0;
    background-color: bisque;
    color: #824A00;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

/* Header */

header {
    display: flex;
    background-color: burlywood;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    margin-left: 590px;
}

#logo {
    width: 70px;
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #AA6100 ;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 0px 25px;
}

nav .active {
    color: #824A00;
    font-weight: bold;
}

/* Home Page */

#promo {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

#bestburger {
    width: 100%;
    border-radius: 20px;
}

#bestburgerintown {
    background-color: burlywood;
    color: #824A00;
    padding: 70px;
    border-radius: 20px;
}

.mrl-20 {
    margin: 0px 20px;
}

.two-button{
    display: flex;
    justify-content: space-evenly;
}

#coupon {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}

footer {
    background-color: burlywood;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    margin-top: 20px;
}

button, .button {
    font-size: 24px;
    background-color: #824A00;
    border: none;
    color: burlywood;
    border-radius: 5px;
    padding: 10px 25px;
}

.input-email {
    border: 2px solid white;
    background-color: burlywood;
    color: white;
    border-radius: 10px;
    height: 20px;
    width: 50%;
    padding: 5px 10px;
    margin-right: 10px;
}

.email-field {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Menu Page */

.home-page, .menu-page {
    margin: 0px 200px;
}

#burgermenu {
    width: 100%;
}

.card {
    box-shadow: 0 1px 4px 0;
    width: 25%;
    margin: 10px;
}

.container {
    padding: 0px 12px;
    text-align: center;
} 

/* Order Page */

.no-margin {
    margin: 0;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.input {
    border: 2px solid white;
    background-color: burlywood;
    color: white;
    border-radius: 10px;
    height: 20px;
    width: 100%;
    padding: 5px 10px;
    margin-top: 10px;
}

/* About Us Page */

.order-page, .about-us-page, .coming-soon-page {
    margin: 0px 400px;
}

.coming-soon-video {
    margin: 0px 300px;
}

.text-center {
    text-align: center ;
}

.mtb-20 {
    margin: 20px 0px;
}

#store, #customer, #sold, #coming-soon {
    width: 90%;
    border-radius: 20px;
}

video{
    width: 100%;
}

/* Sidebar */

#sidebar {
    display: none;
    position: relative;
    top: 2px;
    left: 30px;
    z-index: 1;
}

#sidebar a {
    text-decoration: none;
}

#sidebar a:hover
{
    color: #AA6100;
}

#sidebar input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#sidebar span
{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    position: relative;
    background: #824A00;
    border-radius: 2px;
    z-index: 1;
    transform-origin: 3px 0px;
}

#sidebar span:nth-last-child(2)
{
    transform-origin: 0% 110%;
}

#sidebar input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-3px, 0px);
    background: #824A00;
}

#sidebar input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(-1px, -2px);
}

#sidebar input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
}

#sidebar input:checked ~ ul
{
    transform: none;
}

#menu
{
    position: absolute;
    width: 350px;
    margin: -110px 0 0 -40px;
    padding-top: 125px;
    background: burlywood;
    transition: transform 0.3s;
    transform: translate(-100%, 0);
}

#menu li
{
    padding: 30px 30px;
    font-size: 24px;
    display: flex;
    box-shadow: 0 1px 4px 0;
}

@media screen and (max-width: 1024px) {
    .order-page, .about-us-page, .coming-soon-page {
        margin: 0px 200px 120px 200px;
    }

    .coming-soon-video {
        margin: -100px 150px 0px 150px;
    }

    .home-icon {
        position: absolute;
        right: 0%;
    }

    #logo {
        width: 50px;
        padding: 25px;
    }

    .navbar {
        display: none;
    }

    #sidebar {
        display: block;
    }

    header {
        height: 70px;
    }

    .home-page, .menu-page {
        margin: 0px 100px 110px 100px;
    }

    #bestburger {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    #coupon {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 40px;
    }

}

@media screen and (max-width: 420px) {

    body {
        font-weight: 400;
        font-size: 14px;
    }

    .home-icon {
        position: absolute;
        right: 0%;
    }

    #logo {
        width: 50px;
        padding: 25px;
    }

    .navbar {
        display: none;
    }

    #sidebar {
        display: block;
    }

    #menu {
    width: 200px;
    margin: -110px 0 0 -30px;
    }

    #menu li {
        padding: 20px 10px;
        font-size: 14px;
        box-shadow: 0 0 2px 0;
    }

    .order-page, .about-us-page, .coming-soon-page, .coming-soon-video {
        margin: 0px 10px;
    }

    .menu-page {
        margin: 0px 20px 135px 20px;
    }

    .home-page {
        margin: 0px 10px 105px 10px;
    }

    #promo {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
    }

    #bestburger {
        width: 190%;
        height: 100%;
        border-radius: 20px;
        margin: 0px 0px 0px -20px;;
    }

    #bestburgerintown {
        margin: 0px 0px 0px 50px;
        padding: 15px;
    }

    button {
        font-size: 14px;
        background-color: #824A00;
        border: none;
        color: burlywood;
        border-radius: 5px;
        padding: 10px 25px;
        margin: 0px 5px;
    }

    #coupon {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
    }

    .input {
        width: 94%;
    }

}



